.gl-pagination.gl-mt-3
  %ul.gl-justify-center
    - if previous_path
      %li
        = link_to previous_path, rel: 'prev', class: 'gl-pagination-item', data: paginate_event_tracking_data_attributes(event_tracking: event_tracking, event_label: 'prev') do
          = sprite_icon('chevron-left')
          = s_('Pagination|Prev')
    - if next_path
      %li
        = link_to next_path, rel: 'next', class: 'gl-pagination-item', data: paginate_event_tracking_data_attributes(event_tracking: event_tracking, event_label: 'next') do
          = s_('Pagination|Next')
          = sprite_icon('chevron-right')
